@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/Minecraftia-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-minecraft {
  font-family: 'Minecraft', monospace;
}

.font-minecraft-obfuscated {
  font-family: 'Minecraft', monospace;
  letter-spacing: 0.1em;
}
