.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
/* create a smooth beautifal fade in keyframe animation */
.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(1rem);
  filter: blur(0.2rem);
}
